<% include ../partials/header.ejs%>

<div class="ui container">
    <h1>Edit <%=recipe.name%></h1>
    <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
        <div class="ui item">
            <input type="text" name="recipe[name]" value="<%= recipe.name %>">
        </div>
        <div class="ui item">
            <input type="text" name="recipe[image]" value="<%= recipe.image %>">
        </div>
        <div class="ui item">
            <input type="text" name="recipe[description]" value="<%= recipe.description %>">
        </div>
        <div>
            <button class="ui yellow button">Submit</button>
        </div>
    </form>
    <a href="/recipes">Back</a>
</div>

<% include ../partials/footer.ejs%>