<% include ../partials/header%>


<div class="ui container">
    <div>
        <h1>Recipe 5.0</h1>
    </div>

    <div class="ui segment">
        <img class="ui rounded medium left floated image" src="<%=recipe.image%>"/>
        <div>
            <h4><a><%= recipe.name%></a></h4>
        </div>
        <div>
            <p>
                <em>Written By <%= recipe.author.username %></em>
            </p>
        </div>
        <dic>
            <p><%=recipe.ingredient1%></p>
            <p><%=recipe.ingredient2%></p>
            <p><%=recipe.ingredient3%></p>
            <p><%=recipe.ingredient4%></p>
            <p><%=recipe.ingredient5%></p>
        </dic>
        <div>
            <p><%=recipe.amount1%></p>
            <p><%=recipe.amount2%></p>
            <p><%=recipe.amount3%></p>
            <p><%=recipe.amount4%></p>
            <p><%=recipe.amount5%></p>
        </div>
        <div>
            <h1>Instructions</h1>
            <p><%= recipe.description%></p>

        </div>
    </div>

    <div>
        <a class="ui button" href="/recipes/<%= recipe._id%>/comments/new">Add Comment</a>
    </div>
    <hr>
    <% recipe.comments.forEach(function (comment) { %>
        <div>
            <strong><%= comment.author.username %></strong>
            <span class="item right"><%= recipe.date %></span>
            <p>
                <%= comment.text %>
            </p>

        </div>
    <% }) %>
</div>

<%include ../partials/footer%>