<% include ../partials/header%>


<div class="ui container">
    <div>
        <h1>Recipe 5.0</h1>
    </div>

    <div class="ui container item">
        <img class="" src="<%=recipe.image%>"/>
        <div>
            <h4><a><%=recipe.name%></a></h4>
            <p><%=recipe.description%></p>
            <p>
                <em>Written by <%=recipe.author.username%></em>
            </p>
            <% if(currentUser && recipe.author.id.equals(currentUser._id)){ %>
                <a class="ui button" href="/recipes/<%= recipe._id%>/edit">Edit</a>
                <form class="" action="/recipes/ <%=recipe._id%>?method=DELETE" method="post">
                    <button class="ui button">Delete</button>
                </form>
            <% } %>
        </div>
    </div>

    <div>
        <a class="ui button" href="/recipes/<%= recipe._id%>/comments/new">Add Comment</a>
    </div>
    <hr>
    <% recipe.comments.forEach(function (comment) { %>
        <div>
            <strong><%= comment.author.username %></strong>
            <span class="item right"><%= recipe.date %></span>
            <p>
                <%= comment.text %>
            </p>
            <% if(currentUser && comment.author.id.equals(currentUser._id)){%>
            <a href="/recipes/<%=recipe._id%>/comments/<%=comment._id%>/edit">Edit</a>
            <form class="ui form" action="/recipes/<%=recipe._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                <input type="submit" class="button" value="Delete">
            </form>
            <%}%>
        </div>
    <% }) %>
</div>

<%include ../partials/footer%>